body{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.navbar-light{
    background-color: #ffffff;
    box-shadow: inset 0 -1px 0 0 #e8e8e8;
}


.dashboardBody{
    background-color: #f6f6f6;
}

.dashboardBody a{
    color: #000000;
    text-decoration: none;
}

.dashboardBody h1{
    font-size: 20px;
    font-weight: normal;
    margin: 35px 0px;
}

.popoverMenu {
    display: none;
}

.popover-body{
    list-style: none;
    font-size: 12px;
    font-weight: 500;
}

.popover-body li{
    margin-bottom: 5px;

}


/* ---------------------------------------------------
    dashboardNav
----------------------------------------------------- */

#dashboardNav {
    height: 84px;
  }

#newProjectButton{
    height: 40px;
    padding: 0px 25px;
    border-radius: 20px;
    background-image: linear-gradient(92deg, #1a9277 0%, #aed3a0 131%);
    background-clip: padding-box;
    color: #FFF;
    font-size: 12px;
    margin: 20px 5px;
}

.lang{
    margin: 27px 5px;
    font-size: 12px;
    font-weight: 500;
}

.lang img{
    margin: 0px 10px;
}

.profile{
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
    margin: 20px;
}

#profilePic{
    height: 40px;
    width: 40px;
    -webkit-clip-path: circle();
    clip-path: circle();
}

.profile img{
    margin: 0px 10px;
}

/* ---------------------------------------------------
    dashboardMenuDesktop
----------------------------------------------------- */

#dashboardMenuDesktop{
    height: 55px;
    background-image: linear-gradient(to right, #1a9277, #aed3a0);
}

#dashboardMenuDesktop .nav-link{
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    margin-right: 15px;
}

.show-more{
    color: #1a9277 !important;
    font-weight: 500;
    font-size: 12px;
    margin: 35px 0px;
}

/* ---------------------------------------------------
    dashboardMenuMobile
----------------------------------------------------- */

#dashboardMenuMobile{
    height: 50px;
    background-image: linear-gradient(to right, #1a9277, #aed3a0);
}

#dashboardMenuMobile .navbar-nav {
    flex-direction: row;
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
}

#dashboardMenuMobile .btn{
    font-size: 7px;
    font-weight: bold;
    color: #ffffff;
    padding: 2px 10px;
}

#dashboardMenuMobile .btn img {
    margin-bottom: 5px;
}


#slideMobileMenu{
    font-size: 14px;
    font-weight: 500;
    display: none;
    background-color: #ffffff;
    position: fixed;
    bottom: 50px;
    z-index: 1020;
    border-radius: 10px 10px 0 0;
}

#langMobile, #profileMobile{
    padding: 10px;
    margin: 10px;
}

#profileMobile {
    padding: 15px;
    margin: 5px;
    box-shadow: 0 1px 0 0 #e8e8e8;
}

#langMobile img.flag{
    margin-right: 20px;
}

#profileMobile #profilePic{
    margin-right: 15px;
}

#slideMobileMenuList {
    padding: 5px 20px;
    box-shadow: 0 1px 0 0 #e8e8e8;
}

#slideMobileMenuList li {
    margin-bottom: 10px;
}


/* ---------------------------------------------------
    Tabels
----------------------------------------------------- */
.table{
    font-size: 12px;
    border-radius: 5px 5px 15px 15px;
    overflow: hidden;
    margin-bottom: 0;
    
}

.table thead tr {
    background-color: #eaeced;
}

.table thead th {
    color: #858585;
    font-weight: 500;
    border: none;
    font-size: 11px;
}

.table tbody tr {
    background-color: #ffffff;
    height: 60px;
}

.table td {
    vertical-align: middle;
    border-bottom: solid 7px #f6f6f6;
    border-top: none;
}

.table td:first-child{
    border-radius: 10px 0px 0px 10px;
}

.table td:last-child{
    border-radius: 0px 10px 10px 0px;
}

.ontime {
    display: inline-block;
    color: #1a9277;
    background-color:rgba(26, 146, 119, 0.1);
    padding: .25em .4em;
    border-radius: .3rem;
}

.outdated {
    display: inline-block;
    color: #d42222;
    background-color:rgba(212, 34, 34, 0.1);
    padding: .25em .4em;
    border-radius: .3rem;
}

td.center, th.center {
    text-align: center;
}

.tableH1 {
    font-size: 14px;
    margin-bottom: 4px;
}

.tablePerson {
    font-size: 10px;
    color: #858585;
    margin-bottom: 5px;
}

.tableSmall{
    font-size: 10px;
    
}

/* ---------------------------------------------------
    Right sidebar menu
----------------------------------------------------- */

#sidemenu{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 #eaeced, inset 1px 0 0 0 #e8e8e8;
    padding: 30px 20px;
    margin-top: 35px;
}

#sidemenu h1 {
    margin: 0 0 20px 0;
}

#sidemenu ul {
    list-style: none;
    padding: 0;
}

#sidemenu ul a {
    text-decoration: none;
    color: #000000;
}

.sidebarbtn {
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgba(230,235,237,1) 0%, rgba(255,255,255,1) 45%);
    background-clip: padding-box;
    width: 100%;
    text-align: left;
    margin-bottom: 7px;
    color: #14394f;
    font-size: 14px;
}

.sidebarbtn span {
    font-size: 20px;
    font-weight: bold;
    float: right;
}

@media screen and (max-width: 576px){

    .profile, .lang{
        margin: 0;
        display: none;
    }

    .desktop{
        display: none;
    }

    #sidemenu {
        margin-bottom: 30px;
    }

} 

@media screen and (min-width: 576px){

    .mobile{
        display: none;
    }

    
} 