body{
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    background-image: url(/img/body_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

a, a:hover{
    font-size: 11px;
    color: #858585;
}

.navbar-light{
    background-color: #ffffff;
}

#login{
    background-color: #FFF;
    margin-top: 144px;
    margin-left: 135px;
    margin-right: 135px;
    padding: 42px 50px;
    box-shadow: inset 1px 0 0 0 #e8e8e8;
}

#login h1{
    font-weight: 500;
    color: #4c856a;
    font-size: 24px;
    margin-bottom: 31px;
}

#login h3{
    font-size: 2.0em;
}

#login p{
    color: #959595;
}

#email {
    font-size: 12px;
    border: 1px solid #f0f0f0;
    background-image: url("img/mail_bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

#password {
    font-size: 12px;
    border: 1px solid #f0f0f0;
    background-image: url("img/pass_bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
   }

#loginButton{
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-image: linear-gradient(92deg, #1a9277 0%, #aed3a0 131%);
    color: #FFF;
    font-size: 12px;
}

#credits{
    color: #858585;
    margin-left: 50px;
    margin-top: 120px;
}

.form-control::-webkit-input-placeholder { color: #000; font-size: 0.8em; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #000; font-size: 0.8em; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #000; font-size: 0.8em; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #000; font-size: 0.8em; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #000; font-size: 0.8em; }  /* Microsoft Edge */