body{
    background-image: url(/img/body_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#login{
    background-color: #FFF;
}