body{
    font-size: 11px;
    
    background-image: url(/img/body_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#login{
    background-color: #FFF;
}

#login h1{
    color: #4c856a;
    font-size: 2.5em;
}

#login h3{
    font-size: 2.0em;
}

#login p{
    color: #959595;
}

#email {
    border: 1px solid #f0f0f0;
    background-image: url("img/mail_bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

#password {
    border: 1px solid #f0f0f0;
    background-image: url("img/pass_bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
   }

.form-control::-webkit-input-placeholder { color: #000; font-size: 0.8em; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #000; font-size: 0.8em; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #000; font-size: 0.8em; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #000; font-size: 0.8em; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #000; font-size: 0.8em; }  /* Microsoft Edge */